/*Stylesheet for ShowHide-ContactList*/

td
{
	padding:15px;
	min-width:300px;
	color:#575757;
	text-align:center;
}

table
{
	margin:auto;
	padding:10px;
}


h2 
{
	font-size: 120%;
	padding: 0 0 0 30px;
	text-align:left;
	cursor: pointer;
	background: url(images/plus.png) no-repeat left center;
}

h2.minus 
{
	background: url(images/minus.png) no-repeat left center;
}
 
#details
{
	 font-size:13px;
	 text-align:left;
	 display:none;
	 color:#111111;
	 padding: 0 0 0 30px;
}

.minus {
	background: url(images/minus.png) no-repeat left center;
}
 

.changed
{
	border:1px solid #dddddd;
	box-shadow: black 0 0px 20px -1px;	
}

